In [4]:
import plotly
plotly.tools.set_credentials_file(username='IreneZ', api_key='3m6nNUqf3IhzgjZeJO9q')
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.grid_objs import Grid, Column
from plotly.tools import FigureFactory as FF 
import numpy as np
import pandas as pd
import time

In [5]:
df = pd.read_csv("ivv_for_candle.csv")

In [6]:
df.head()

         date     low    high   close   volume    open
0  2001-03-07  125.78  126.71  126.55  1012800  126.71
1  2001-03-08  126.27  127.11  126.92   107100  126.70
2  2001-03-09  123.14  125.50  123.47  2122400  125.29
3  2001-03-12  117.65  122.11  117.78  2014800  122.11
4  2001-03-13  117.36  119.90  119.72   121900  118.87

In [7]:
df = df[['open','high','low','close','date']]

In [10]:
from datetime import datetime


trace = go.Ohlc(x=df['date'],
                open=df['open'],
                high=df['high'],
                low=df['low'],
                close=df['close'])
data=[trace]
layout = {
    'title': 'The Great Recession',
    'yaxis': {'title': 'AAPL Stock'},
    'shapes': [{
        'x0': '2016-12-09', 'x1': '2016-12-09',
        'y0': 0, 'y1': 1, 'xref': 'x', 'yref': 'paper',
        'line': {'color': 'rgb(30,30,30)', 'width': 1}
    }],
    'annotations': [{
        'x': '2016-12-09', 'y': 0.05, 'xref': 'x', 'yref': 'paper',
        'showarrow': False, 'xanchor': 'left',
        'text': 'Increase Period Begins'
    }]
}
fig = dict(data=data, layout=layout)
py.iplot(fig, filename='ivv_candlestick')